.Login{
    display: flex;
    align-items: center;
    position: relative;
}


.dream{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

body {
    background-color: #DDCECD;
    font-family:'Courier New', Courier, monospace ;
    margin-top: 30px;
}

.tit{
    text-align: center;
}

.cont{
    background-color: #F6E8EA;
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 5%;
    border-radius: 39px;
    padding-top: 10%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.cp{
    background-color: #FFF5F5;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 50%;
    padding-left: 5px;
    padding: 5px;
    color: gray;
}

.bot{
    text-align: center;
    font-size: larger;
    background-color: #D4A58B;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.usuario{
    margin-right: 226px;
    margin-bottom: 10px;
}

.cont2{
    display: flex;
    flex-direction: column;
    background-color: #F6E8EA;
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 5%;
    border-radius: 39px;
    padding-top: 5%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.boto{
    align-items: center;
    text-align: center;
    font-size: larger;
    background-color: #D4A58B;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    margin-bottom: 40px;
    margin-left: 20%;
    margin-right: 20%;
    text-decoration: none;
    color: black;
}

.contb {
    background-color: #F6E8EA;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 2%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

.log {
    margin-top: 1.5%;
    margin-left: 1.5%;
    
}

.contb2{
    background-color: #FFF5F5;
    margin-top: 4%;
    padding-top: 1%;
    margin-left: 10%;
    padding-left: 10px;
    padding-right: 60%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    border-radius: 25px;
    position: absolute;
    top: 20;
    left: 150;

}

.barraDeBusqueda {
    text-align:start;
}

.contc{
    background-color: #FFF5F5;
    padding-right: 95%;
    margin-left: -15%;
    margin-top: 9%;
    padding-bottom: 34%;
    border-radius: 15px;
}