<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <img src="{{ url_for('static', filename='imagenes/bin.png')}}" width="150" height="50">
    </head>
    <header>
        
        <h1>Dreams of Pen</h1>
        <img src="" alt=""><!--Poner logo-->
        
    </header>
    <body>
        <div class="cont">
            <a class="usuario">Usuario:</a>
            <div class="cp">ingrese Usuario</div>
            <a href="Reseñas.html" class="bot">
                Ingresar
            </a>
        </div>
    </body>
</html>