<html>
    <head>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <header>
        <div class="Login">
            <img
                src="{{ url_for('static', filename='Imagenes/bin.png')}}"
                width="150"
                height="50"
            />
        </div>
    </header>
    <body>
        <div class="cont2">
            <h2>Reseñas</h2>
            <a href="{{ url_for('misr') }}" class="boto"> Mis Reseñas </a>
            <a class="boto"> Ver Reseñas </a>
        </div>
    </body>
</html>
