<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <header>
            <div class="Login">
            <img src="{{ url_for('static', filename='imagenes/bin.png')}}" width="150" height="50">
            </div>
    </header>
    <body>
        <div class="cont">
            <h2>Reseñas</h2>
            <a class="bot">
                Mis Reseñas
            </a>
            <a class="bot">
                Ver Reseñas
            </a>
        </div>
    </body>
</html>