<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <header>
        
    </header>
    <body>
        <div class="contb">
            <img src="static/Imagenes/bin.png" width="200" height="100" class="log"><!--Poner logo-->
            <div class="contb2">
                <a class="barraDeBusqueda">Nombre de usuario</a>
            </div>
            <div class="contc">
                <div>
               
                
                </div>
            </div>
    </div>
    </body>
</html>