<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="contb">
            <img src="{{ url_for('static', filename='imagenes/bin.png') }}" width="200" height="100" class="log">

            <form method="POST" action="{{ url_for('busquedaUsuario') }}" class="contb2">
                <a class="barraDeBusqueda">Nombre de usuario</a>
                <input type="text" name="usuario" required>
                <button type="submit">Buscar</button>
            </form>

            <div class="contc">
                {% for r in reviews %}
                    <div>
                        <p><b>{{ r.usuario }}</b></p>
                        <p>{{ r.marca }} - {{ r.modelo }}</p>
                        <p>Puntuación: {{ r.puntuacion }}</p>
                        <p>{{ r.texto }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </body>
</html>
