<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <header>
        <h1>Dreams of Pen</h1>
        <img src="{{ url_for('static', filename='imagenes/bin.png') }}">
    </header>

    <body>
        <form method="POST" action="{{ url_for('crear') }}">

            <div>
                <a>Marca</a>
                <input type="text" name="marca" required>
            </div>

            <div>
                <a>Modelo</a>
                <input type="text" name="modelo" required>
            </div>

            <div>
                <a>Descripción</a>
                <textarea name="texto" required></textarea>
            </div>

            <div>
                <a>Puntuación</a>
                <input type="number" name="puntuacion" min="1" max="10" required>
            </div>

            <button type="submit">Guardar</button>

        </form>
    </body>
</html>
