<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <header>
        <h1>Dreams of Pen</h1>
        <img src="" alt=""><!--Poner logo-->
        
    </header>
    <body>
        <div>
            <div>
                <div>
                    <a>Marca</a>
                </div>
                <div>
                    <img><img><img><img><img>
                </div>
            </div>
            <div>
                <a>Descripción</a>
            </div>
            <div>
                <a>Descripción</a>
                <button>guardar</button>
            </div>
        </div>
    </body>
</html>