<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <header>
        <div class="Login">
            <img src="{{ url_for('static', filename='imagenes/bin.png')}}" width="150" height="50">
            <h1 class="dream">Dreams of Pen</h1>
        </div>
    </header>

    <body>
        <div class="cont">

            <form method="POST" action="{{ url_for('login') }}">
                <a class="usuario">Usuario:</a>

                <input type="text" name="usuario" class="cp" placeholder="Ingrese Usuario" required>

                <button type="submit" class="bot">Ingresar</button>
            </form>

        </div>
    </body>
</html>
