<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <header>
        <img src="{{ url_for('static', filename='imagenes/bin.png')}}" width="150" height="50">
    </header>
    <body>
        <div class="cont2">
            <h2>Mis Reseñas</h2>
            <a href="{{ url_for('crear')}}" class="boto">
                crear
            </a>
            <a href="{{ url_for('vermias')}}" class="boto">
                Ver
            </a>
        </div>
    </body>
</html>