<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Mis Reseñas - Dreams of Pen</title>
</head>

<header>
    <img src="{{ url_for('static', filename='imagenes/bin.png')}}" alt="Dreams of Pen" onclick="window.history.back()" style="cursor: pointer;">
</header>

<body>
    <div class="cont2">
        <h2>Mis Reseñas</h2>

        <a href="{{ url_for('crear') }}" class="boto">Crear</a>
        <a href="{{ url_for('vermias') }}" class="boto">Ver</a>
    </div>
</body>
</html>