<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Ver Reseñas - Dreams of Pen</title>
</head>

<header>
    <img src="{{ url_for('static', filename='imagenes/bin.png') }}" alt="Dreams of Pen" onclick="window.history.back()" style="cursor: pointer;">
    <h1 class="dream">Dreams of Pen</h1>
</header>

<body>
    <div class="cont2">
        <h2>Ver Reseñas</h2>

        <a href="{{ url_for('busquedaMarca') }}" class="boto">Por Marca</a>
        <a href="{{ url_for('busquedaUsuario') }}" class="boto">Usuarios</a>
    </div>
</body>
</html>