<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <header>
    </header>
    <body>
        <div>
            <img src="" alt=""><!--Poner logo-->
            <a class="barraDeBusqueda">Marca de lapicera</a>
        </div>
        <div>
            <div>
                <div>
                    <img><!--Poner lapicera de ejemplo-->
                </div>
                <div>
                    <div>
                        <a>LAPICERA PARKER VECTOR FT 90300</a>
                        <p>Para NADA calidad precio, si bien estas lapiceras prometen calidad, NO LO CUMPLEN, un precio de marca para una lapicera que a la primera usada para hacer asado se derriten, terrible, pero escriben bien.</p>
                    </div>
                    <div>
                        <img><img><img><img><img><a>LusitoLapicera33</a><!--Poner tapitas-->
                    </div>
                </div>
                <div>
                    <button>X</button>
                </div>
            </div>
        </div>
    </body>
</html>